<% did = element.xpath('did').first -%>

<h5 id="<%= ead_link_id(element, '') %>">
  <span class="unittitle"><%= ead_text(did, 'unittitle') %></span>
  <span class="unitdate"><%= ead_text(did, 'unitdate') %></span>
  <span class="unitid"><%= ead_text(did, 'unitid') %></span>
</h5>


<span class="physdesc"><%= ead_text(did, 'physdesc') %></span>

<% if !did.xpath('container').blank? -%>
<span class="container">
  [<% did.xpath('container').each do |container| -%>
    <%= container.attribute('type') %>: <%= container.text %>
  <% end -%>]
</span>
<% end -%>

<%= dao(did) %>

